<div id="news-block" class="row">
  <div class="span-two-thirds">
    <div id="my_recent_news">
      <% @news.each do |news| %>
          <div class="my_news_item">
            <h3><%= link_to news.title, news_item_path(news.id)%></h3>
            <em><%= news.updated_at.strftime("%d.%m.%Y") %></em>
            <p><%= news.preview %></p>
          </div>
      <% end %>
    </div>
  </div>
  <div class="span-one-third">
    <div class="my_some_adv">
      <label>немножечко рекламы</label>
      <img src="img/banner.jpg">
    </div>

    <div id="my_sidebar-news">
      <h5>Новое в мире автоматизации</h5>
      <!-- news -->


    </div>

  </div>
</div>

<div class="page-header">
  <h2>Каталог компаний по автоматизации</h2>
</div>
<div id="catalog" class="row">


  <div class="regions span16">
    <ul>
      <% @regions.each do |region| %>
          <li class="region">
            <%= link_to(region.name, region_path(region.friendly_url),  {:class => 'large'} ) %>

          </li>
      <% end %>
    </ul>
  </div>
</div>